<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>{{title}}</title>

  {{#if styles}}
    {{#each styles}}
      <link rel="stylesheet" href="{{this}}"/>
    {{/each}}
  {{/if}}
</head>
<body>
  {{{body}}}

  {{#if scripts}}
    {{#each scripts}}
      <script
        src="{{this.src}}"
        {{#if this.type}}type="{{this.type}}"{{/if}}
      ></script>
    {{/each}}
  {{/if}}
</body>
</html>
